<div class="jumbotron">
  <div class="container">
    <h2>Hello, Welcome to Skrol.</h2>
    <p>Please select which language you would like to learn below...</p>
    <br>
    <div class="row">
      <%= link_to "Phonetic Alphabet", english_path, class: "btn btn-default btn-lg btn-home" %>
      <%= link_to "German", german_path, class: "btn btn-default btn-lg btn-home" %>
      <%= link_to "Japanese", japanese_path, class: "btn btn-default btn-lg btn-home" %>
      <%= link_to "Portuguese", portuguese_path, class: "btn btn-default btn-lg btn-home" %>
      <%= link_to "Chinese", chinese_path, class: "btn btn-default btn-lg btn-home" %>
      <%= link_to "Maltese", maltese_path, class: "btn btn-default btn-lg btn-home" %>
      <%= link_to "Norwegian", norwegian_path, class: "btn btn-default btn-lg btn-home" %>
    </div>
  </div>
</div>

<%= render 'static_pages/feature_columns' %>
