<% provide(:title, "Edit Sentence") %>
<div class="container">
  <h1>Update Sentence</h1>
  <div class="form-group">
    <br>
    <%= form_for(@sentence) do |f| %>
      <%= f.label :english_sentence %>
      <%= f.text_field :english_sentence %>
      <%= f.label :english_phonetic %>
      <%= f.text_field :english_phonetic %>
      <br>
      <%= f.submit "Enter sentence", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>