  <hr>
<footer>
  <div class="container">
    <p>© Skrol <%= Time.now.year %></p>
    <nav>
      <div class="row">
        <div class="col-md-4">
          <ul>
            <li><%= link_to "Phonetic Alphabet", english_path %></li>
            <li><%= link_to "German", german_path %></li>
            <li><%= link_to "Japanese", japanese_path %></li>
            <li><%= link_to "Portuguese", portuguese_path %></li>
            <li><%= link_to "Chinese", chinese_path %></li>
            <li><%= link_to "Maltese", maltese_path %></li>
            <li><%= link_to "Norwegian", norwegian_path %></li>
          </ul>
        </div>
      </div>
    </nav>
    <%= debug(params) if Rails.env.development? %>
  </div>
</footer>
