  <hr>
<footer>
  <div class="container">
    <p>© Skroll 2015</p>
    <nav>
      <div class="row">
        <div class="col-md-4">
          <ul>  
            <li><%= link_to "English IPA", english_path %></li>
            <li><%= link_to "German", german_path %></li>
            <li><%= link_to "Japanese", japanese_path %></li>
            <li><%= link_to "Portuguese", portuguese_path %></li>
            <li><%= link_to "Chinese", chinese_path %></li>
            <li><%= link_to "Maltese", maltese_path %></li>
            <li><%= link_to "Norwegian", norwegian_path %></li>
          </ul>
        </div>
        <div class=".col-md-4 .col-md-offset-4">
          <ul>
            <li><%= link_to "Sentences", sentences_path %></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</footer>